{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react"
    ],
    "plugins": [
        "prettier"
    ],
    "env": {
    },
    "rules": {
        "semi": 0,
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".ts",
                    ".js",
                    ".jsx",
                    ".tsx"
                ]
            }
        ],
        "prettier/prettier": [
            "on"
        ]
    }
}